.cell{
    border:1px solid #fff;
    height: 65px;
    width: 65px;
    margin:2px;
    font-size: 46px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cellContainer{
    display: flex;
        align-items: center;
        justify-content: center; 
}
.green{
    background-color: #4d977d;
}
.yellow{
    background-color: rgb(216, 199, 49);
}
 .row {
     display: flex;
     align-items: center;
     justify-content: center; 
 }

 .col {
     width: 60px;
     height: 60px;
     cursor: pointer;
     text-align: center;
     font-size: 44px;
    color: rgb(244, 244, 245);
     font-weight: 500;
     border:1px solid #201f20;
 }
 .col:hover{
    background-color: rgb(44, 44, 44);
    opacity: 0.9;
    color:rgb(229, 231, 236);
    font-weight: 600;
 }